*{
    margin:0px;
    padding:0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#252A33;
  height: 100px;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.logo {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.menu {
  display: flex;
  align-items: center;
  gap:50px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
 
}

.menu a:hover {
  color: #ffd100;
}

.menubardiv{
    background-color:#ffd100;
    height:50px;
    width:100%
}

.listmenu{
    position:relative;
    display:none;
}

.menu-dropdown-menu{
  position:relative;
  background-color:rgb(236, 236, 236);
  padding:10px 5px;
  display:flex;
  gap:30px;
  justify-content: flex-end;
  

  
}
.dropdown{
  /* position:absolute;
  display:none;
  top: 100%;
    left: 0;
    /* min-width: 200px; */
    /* max-width:200px;
    background: #fff;
    display: none;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
    padding: 20px 30px;
    z-index: 9999;  */

      position:absolute;
  display:none;
   background: #fff;
    max-width:400px;
    padding:10px 20px;
     z-index: 9999;
         border:solid 1px black;
;
    


}
.menu-dropdown-menu:hover .dropdown{
  display:flex;
  flex-direction:column;
  
}
.dropdown a{
  padding:10px 10px;
}

.dropdown2{
  position:absolute;
  display:none;
   background: #fff;
    max-width:400px;
    padding:30px 30px;
     z-index: 9999;
     border:solid 1px black;
    

  
}
.second-dropdown-box :hover .dropdown2{
  display:flex;
  flex-direction:column;
}



